{% extends 'userbase.html' %}

{% block title %}User Profile{% endblock %}

{% set active_page = 'profile' %}

{% block content %}
<section class="container py-3">
    <div class="row justify-content-center text-center w-100">
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="alert alert-success" role="alert" id="flashMessage">
                    {{ message[0]|capitalize }}
                </div>

                <script>
                    // Setting the timeout for the flash message to disappear after 1.5 seconds
                    setTimeout(function() {
                        var flashMessage = document.getElementById("flashMessage");
                        if (flashMessage) {
                            flashMessage.style.display = "none";
                        }
                    }, 1500); 
                </script>
            {% endif %}
        {% endwith %}
    </div>
</section>

<section class="container d-flex justify-content-center mb-5">
    <div class="col-lg-8 bg-white d-flex flex-column align-items-center p-5 rounded-4 ">
        <div class="container">
            <!-- Profile image -->
            <div class="d-flex justify-content-center">
                <img src="{{ profile.profile_image}}" alt="Profile Image" class="rounded-circle" style="width: 80px; height: 80px; object-fit: cover; margin-right: 20px;">
            </div>
            <div id="" class=" text-center">
                <h1 class="mb-0">{{ profile.role.title() }} Profile</h1>
                <p class="lead text-muted mb-0">Here's everything we know about you.</p>
            </div>
            <div id="pictureSection" class="text-center d-none mt-0 ">
                {% if profile.profile_image =="static/images/profileplaceholder.png" %}
                {% else %}
                        <form action="{{ url_for('profile.remove_image', from='profile') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="form_type" value="remove_image">
                            <button type="submit" class="btn btn-link text-primary">>> Remove Image</button>
                        </form>
                {% endif %}
            </div>


        </div>
        
        <div class="container mt-5">
            <form  id="profileForm" action="{{ url_for('profile.profile') }}" method="post" enctype="multipart/form-data">
                <div class="row justify-content-center">
                    <input type="hidden" name="form_type" value="profile">
                    <div class="col-lg-8 mb-3">
                        <label for="description" class="form-label">My Description</label>
                        <input required type="text" class="form-control{% if description_error %} is-invalid{% endif %}" id="description" name="description" value="{{ profile.description }}"  disabled>
                        <div id="description_error" class="invalid-feedback">{{ description_error }}</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input required type="text" class="form-control{% if username_error %} is-invalid{% endif %}" id="username" name="username" value="{{ profile.username }}" disabled>
                        <div id="username_error" class="invalid-feedback">{{ username_error }}</div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label for="useremail" class="form-label">Email</label>
                        <input required type="email" class="form-control" id="email" name="useremail" value="{{ profile.email }}" disabled>
                        <div id="email_error" class="invalid-feedback">{{ email_error }}</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 mb-3">
                        <label for="first_name" class="form-label">First Name</label>
                        <input required type="text" class="form-control" id="first_name" name="first_name" value="{{ profile.first_name }}" disabled>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input required type="text" class="form-control" id="last_name" name="last_name" value="{{ profile.last_name }}" disabled>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-lg-4 mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="location" value="{{ profile.location }}" disabled>
                    </div>
                    <div class="col-lg-4">
                        <label for="profile_picture" class="form-label">Upload Picture</label>
                        <input type="file" class="form-control" id="profile_picture" name="profile_picture" accept="image/*" disabled >
                    </div>
                </div>
                <!-- <div class="row d-flex flex-column ">
                    <div class="col-lg-4 offset-lg-2 mb-3">
                        <label for="profile_picture" class="form-label">Profile Picture</label>
                        <input type="file" class="form-control" id="profile_picture" name="profile_picture" accept="image/*" disabled>
                    </div>
                    <div class="col-lg-4 offset-lg-2 mb-3  ">
                        <a href=""> >> Remove Image</a>
                    </div>
                </div> -->

                <div class="my-4 row justify-content-center">
                    <div class="col-lg-8">
                        <!-- <hr /> -->
                        <div class="d-flex">
                            <button type="button" id="editButton" class="btn btn-primary w-100" onclick="enableEdit()">Edit</button>
                            <button type="button" id="cancelButton" class="btn btn-outline-secondary w-50" onclick="cancelEdit()" style="display: none;">Cancel</button>
                            <button type="submit" id="submitButton" class="btn btn-primary w-50" style="display: none; margin-left: 2%;">Submit</button>
                           
                            <!-- <button type="button" id="passButton" class="btn btn-light border-primary text-primary" onclick="removeImage(event)">Remove Image</button> -->
    
                        </div>
                        
                    </div>
                </div>
            </form>

            
        </div>
        <div>
            <a style=" margin-left: auto;" class="nav-link{{ ' active' if active_page == 'usermanagement' else '' }} mt-2" href="{{ url_for('profile.changepassword') }}">
                <div type="button" id="passButton" class="text-primary text-decoration-underline"  > >> Change Password</div>
            </a>
        </div>
      
        </div>
    </div>
 
    


</section>

<script>
   function removeImage(event) {
    event.preventDefault();  // Prevent the form submission
    fetch("/remove_image",  {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({form_type: 'remove_image'})
    })
    .then(response => {
        if (response.ok) {
            window.location.href = "/profile";
        } else {
            console.error('Failed to remove image');
        }
    })
    .catch(error => console.error('Error:', error));
}


   
    // to store the original values
    let originalValues = {};

    // Function to make the fields in the form editable
    function enableEdit() {
        const form = document.getElementById("profileForm");
        const inputs = form.querySelectorAll("input");

        // Storing original values before editing
        inputs.forEach(input => {
            originalValues[input.id] = input.value;
            input.disabled = false;
        });
        
        document.getElementById("pictureSection").classList.remove("d-none");

        // Showing the submit and cancel buttons, while hiding the edit button
        document.getElementById("editButton").style.display = "none";
        document.getElementById("submitButton").style.display = "inline-block";
        document.getElementById("cancelButton").style.display = "inline-block";
    }

    // Function to make the fields in the form uneditable and replace with original values
    function cancelEdit() {
        const form = document.getElementById("profileForm");
        const inputs = form.querySelectorAll("input");

        // Restoring the original values
        inputs.forEach(input => {
            if (originalValues.hasOwnProperty(input.id)) {
                input.value = originalValues[input.id];
            }
            input.disabled = true;
        });

        document.getElementById("pictureSection").classList.add("d-none");

        // Hiding the submit and cancel buttons, while showing the edit button
        document.getElementById("editButton").style.display = "inline-block";
        document.getElementById("submitButton").style.display = "none";
        document.getElementById("cancelButton").style.display = "none";

    }
</script>
<script defer>
    // Function to check if the username entered is already taken
    document.addEventListener("DOMContentLoaded", function() {
        // Getting the username value from the form
        let usernameField = document.getElementById("username");
        let emailField = document.getElementById("email");
        let emailError = document.getElementById("email_error");
        let usernameError = document.getElementById("username_error");
        let currentUsername = "{{ profile.username }}";  
        let currentEmail = "{{ profile.email }}";  

        if (usernameField) {
            usernameField.addEventListener("input", function() {
                let username = this.value.trim();

                // checking if the username field is empty
                if (username === "") {
                    usernameError.textContent = "";
                    usernameError.style.color = "";  
                    this.classList.remove("is-invalid", "is-valid");
                    return;
                }

                // Checking if the entered username is the same as the user's current
                // username
                if (username === currentUsername) {
                    usernameError.textContent = "Current Username";
                    usernameError.style.color = "green";
                    this.classList.remove("is-invalid");
                    this.classList.add("is-valid");
                    return;
                }

                // AJAX request to frontend to check if the new username is unique
                fetch("/check-username", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ username: username }),
                })
                .then(response => response.json())
                .then(data => {
                    const submitBtn = document.getElementById("submitButton");
                    if (data.is_unique) {
                        usernameError.textContent = "";
                        usernameError.style.color = "";  
                        this.classList.remove("is-invalid");
                        this.classList.add("is-valid");
                        document.getElementById("submitButton").disabled = false;
                        submitBtn.classList.remove("btn-secondary");
                        submitBtn.classList.add("btn-primary");

                    } else {
                        usernameError.textContent = "Username is already taken.";
                        usernameError.style.color = "red";
                        this.classList.add("is-invalid");
                        this.classList.remove("is-valid");
                        document.getElementById("submitButton").disabled = true;
                        submitBtn.classList.remove("btn-primary");
                        submitBtn.classList.add("btn-secondary");


                    }
                })
                .catch(error => console.error("Error:", error));
            });
        }
        if (emailField) {
            emailField.addEventListener("input", function() {
                let email = this.value.trim();
                let emailError = document.getElementById("email_error");
    
                if (email === "") {
                    emailError.textContent = "";
                    this.classList.remove("is-invalid");
                    return;
                }

                // Checking if the entered email is the same as the user's current
                // email
                if (email === currentEmail) {
                    emailError.textContent = "Current Email";
                    emailError.style.color = "green";
                    this.classList.remove("is-invalid");
                    this.classList.add("is-valid");
                    return;
                }

                // AJAX request to access backend function to check if
                // email is unique
    
                fetch("/check-email", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ email: email }),
                })
                .then(response => response.json())
                .then(data => {
                    const submitBtn = document.getElementById("submitButton");
                    if (data.is_unique) {
                        emailError.textContent = "";
                        this.classList.remove("is-invalid");
                        this.classList.add("is-valid");
                        document.getElementById("submitButton").disabled = false;
                        submitBtn.classList.remove("btn-secondary");
                        submitBtn.classList.add("btn-primary");

                    } else {
                        emailError.textContent = "Email is already taken.";
                        this.classList.add("is-invalid");
                        document.getElementById("submitButton").disabled = true;
                        submitBtn.classList.remove("btn-primary");
                        submitBtn.classList.add("btn-secondary");

                    }
                })
                .catch(error => console.error("Error:", error));
            });
        }
    });
</script>

{% endblock %}
